<h1 class="title">Listado de Pokemon</h1>
<div class="container-1">
  <span class="icon"><i class="fa fa-search" aria-hidden="true" ></i></span>
  <input type="search" id="search" placeholder="Buscar" [formControl]="search" (keyup)="searchValue($event)">
</div>
<br>

<div class="container">
  <div class="row" >
    <div class="column" *ngFor="let pokemon of pokemons ; let i = index">
      <div class="card" (click)="viewPokemon(pokemon)">
        <div class="imagencard">
          <img mat-card-image width="80" height="100" [src]="pokemon?.sprites?.front_default" alt="Photo of a pokemons">
        </div>
        <p># {{pokemon.id}}</p>
        <h3>{{pokemon.name}}</h3>
      </div>
    </div>
  </div>
  <div *ngIf="pokemonSelected" class="card-select">
    <div class="imagencard">
      <img mat-card-image width="80" height="100" [src]="[pokemonSelected?.sprites?.front_default]" alt="Photo of a pokemons">
    </div>
    <p># {{pokemonSelected.id}}</p>
    <h3>{{pokemonSelected.name}}</h3>
    <div>
      <div *ngIf="pokemonSelected.types.length">
        <h4>Types</h4>
        <p *ngFor="let tipo of pokemonSelected.types">{{tipo.type.name}}</p>
      </div>
      <div *ngIf="pokemonSelected.weight">
        <h4>Peso</h4>
        <p>{{pokemonSelected.weight}}</p>
      </div>
      <div *ngIf="pokemonSelected.sprites">
        <h4>Sprites</h4>
        <img class="imgSelect" [src]="pokemonSelected.sprites?.back_default">
        <img class="imgSelect" [src]="pokemonSelected.sprites?.back_female">
        <img class="imgSelect" [src]="pokemonSelected.sprites?.back_shiny">
        <img class="imgSelect" [src]="pokemonSelected.sprites?.back_shiny_female">
        <img class="imgSelect" [src]="pokemonSelected.sprites?.front_default">
        <img class="imgSelect" [src]="pokemonSelected.sprites?.front_female">
        <img class="imgSelect" [src]="pokemonSelected.sprites?.front_shiny_female">
      </div>
      <div *ngIf="pokemonSelected.moves.length">
        <h4>Movimientos</h4>
        <div class="moviments">
          <p>{{pokemonSelected.moves}}, </p>
        </div>
      </div>
      
    </div>
  </div>
</div>


<div class="buttons">
  <button id="button" class="button-back"  (click)="clickBack()" [disabled]="inicioPokem == 0" > < Atras</button><br>
  <button mat-raised-button class="button-next" (click)="clickNext()" [disabled]="finPokem == pokemons2.length">Siguiente ></button>
</div>